
        <div class="login-main">
            <div class="blurred-box">
                <form [formGroup]="form">
                <div class="loginForm">
                        <h4 style="color:#3f51b5;">Forgot Password</h4>
                        <div>
                            <mat-form-field>
                                <mat-label>Email <span class="str">*</span></mat-label>
                                <input matInput type="text" formControlName="email">
                              </mat-form-field>
                        <div *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                            <div *ngFor="let validation of validationMessages.email" class="has-danger">
                              <span class="" style="float: left;font-size: 10px;color: red;margin-bottom: 5px;" *ngIf="form.controls['email'].hasError(validation.type) ">
                                {{validation.message}}
                              </span>
                            </div>
                          </div>
                        </div>
                        
                    <button type="button" class="login-btn" [disabled]="!form.valid" (click)="RequestPassword()" >Send Request</button>
                    <!-- <button mat-raised-button type="button" style="width: 100%;" class="mt-3" (click)="backToLogin()" >Back to Login</button> -->
                </div>
            </form>
            </div>
            <div class="image-box">
        
            </div>
        </div>