<div>
    <div class="page-title">
        <h1>Shipment #{{id}}
            <button class="btn btn-primary" routerLink="/main/shipments">Back</button>
        </h1>
    </div>
    <div class="page-body">
        <div class="card mt-3">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center" *ngIf="pdfSrc">
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false"></pdf-viewer>
                </div>
                
                <div class="col-md-6 text-center" *ngIf="!pdfSrc">
                    <h4 class="text-center">No Label Found</h4>
                </div>
            </div>
        </div>
    </div>
</div>