mat-form-field{
    width:100%;
}
.mat-form-field{
    font-size: 13px;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0 !important;
    background: inherit !important;
}
.mat-form-field-appearance-fill .mat-form-field-infix{
    padding: .4375em 0;
}

ng-select{
    font-size: 13px;
}
.ng-select .ng-select-container{
    min-height: 35.5px;
    color: inherit;
    font-weight: 500;
    font-family: sans-serif;
}
.ng-select .ng-select-container .ng-value-container .ng-placeholder{
    font-weight: 500;
}